<!DOCTYPE html>
<html lang="en">
<!-- 
    https://wingxel.github.io/website
    ----------------------------------- 
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="static/js/ven/jquery.js"></script>
    <script src="static/js/ven/bootstrap.js"></script>
    <script src="static/js/app.js"></script>

    <link rel="stylesheet" href="static/css/ven/bootstrap.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div id="Base">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>
